@import "tailwindcss";

.ff-chakra {
  font-family: "Chakra Petch", sans-serif;
  font-style: normal;
}

.ff-geist-mono{
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
